<html>
<head>
    <title> Web Developing using Python</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
Hi!! Using pyhton to create a web server, which will hold HTML CSS and JS files.
We will link CSS and JS file with this HTML file to make it a complete webpage.
To link CSS files we use 'link' command in the 'head' section of html file.
And to link JS files we use 'script' command in the 'body' section of the HTML file.
{{ name }}
{{ id }}
<script src="static/index.js"></script>
</body>
</html>